# -*- coding: UTF-8 -*-
"""Employee Email Script.

This module allows us to create an email address using employee data from
a csv file.

Example:
    $ python employee_email.py

"""
import os
import csv

filepath = os.path.join("Resources", "employees.csv")

new_employee_data = []

# Read data into dictionary and create a new email field
with open(filepath) as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        # YOUR CODE HERE
        # Hint: You can use csv.DictReader
        # This will require a little bit of independent research (by design)
        # In the real world, you will encounter situations like this

# Grab the filename from the original path
_, filename = os.path.split(filepath)

# Write updated data to csv file
csvpath = os.path.join("output", filename)
with open(csvpath, "w") as csvfile:
    # YOUR CODE HERE
    # Hint: You can use csv.DictWriter

In [1]:
import os
import pandas as pd

In [2]:
emp_data = "resources/employees.csv"

In [3]:
emp_data_df = pd.read_csv(emp_data)

In [4]:
emp_data_df.head()

  first_name  last_name          ssn
0       Tina    Fleming  619-16-7988
1      Erica       Shah  164-51-7615
2      Paula      Ortiz  051-83-3290
3      James  Hendricks  776-83-2884
4     Lauren       King  197-94-2398

In [5]:
email= emp_data_df["first_name"] + "." + emp_data_df["last_name"] +"@buzzkill.com"
print(email)

0        Tina.Fleming@buzzkill.com
1          Erica.Shah@buzzkill.com
2         Paula.Ortiz@buzzkill.com
3     James.Hendricks@buzzkill.com
4         Lauren.King@buzzkill.com
5         David.Cowan@buzzkill.com
6       Andrew.Burton@buzzkill.com
7        Julian.Baker@buzzkill.com
8        Scott.Castro@buzzkill.com
9     Billy.Rodriguez@buzzkill.com
10    Darrell.Leblanc@buzzkill.com
11      David.Hammond@buzzkill.com
dtype: object

In [6]:
email_series=pd.Series(email)
print(email_series)
print(type(email_series))

0        Tina.Fleming@buzzkill.com
1          Erica.Shah@buzzkill.com
2         Paula.Ortiz@buzzkill.com
3     James.Hendricks@buzzkill.com
4         Lauren.King@buzzkill.com
5         David.Cowan@buzzkill.com
6       Andrew.Burton@buzzkill.com
7        Julian.Baker@buzzkill.com
8        Scott.Castro@buzzkill.com
9     Billy.Rodriguez@buzzkill.com
10    Darrell.Leblanc@buzzkill.com
11      David.Hammond@buzzkill.com
dtype: object
<class 'pandas.core.series.Series'>

In [7]:
#emp_data_df.append[email.series]
emp_data_df.head()

  first_name  last_name          ssn
0       Tina    Fleming  619-16-7988
1      Erica       Shah  164-51-7615
2      Paula      Ortiz  051-83-3290
3      James  Hendricks  776-83-2884
4     Lauren       King  197-94-2398

In [8]:
emp_data_df=pd.DataFrame(emp_data_df,columns=['first_name', 'last_name', 'ssn'])
print(emp_data_df)

   first_name  last_name          ssn
0        Tina    Fleming  619-16-7988
1       Erica       Shah  164-51-7615
2       Paula      Ortiz  051-83-3290
3       James  Hendricks  776-83-2884
4      Lauren       King  197-94-2398
5       David      Cowan  252-92-1832
6      Andrew     Burton  296-23-6842
7      Julian      Baker  337-40-7543
8       Scott     Castro  399-46-5595
9       Billy  Rodriguez  014-18-2503
10    Darrell    Leblanc  005-82-7918
11      David    Hammond  561-17-6312

In [9]:
emp_data_df['email']=email_series
print(emp_data_df)

   first_name  last_name          ssn                         email
0        Tina    Fleming  619-16-7988     Tina.Fleming@buzzkill.com
1       Erica       Shah  164-51-7615       Erica.Shah@buzzkill.com
2       Paula      Ortiz  051-83-3290      Paula.Ortiz@buzzkill.com
3       James  Hendricks  776-83-2884  James.Hendricks@buzzkill.com
4      Lauren       King  197-94-2398      Lauren.King@buzzkill.com
5       David      Cowan  252-92-1832      David.Cowan@buzzkill.com
6      Andrew     Burton  296-23-6842    Andrew.Burton@buzzkill.com
7      Julian      Baker  337-40-7543     Julian.Baker@buzzkill.com
8       Scott     Castro  399-46-5595     Scott.Castro@buzzkill.com
9       Billy  Rodriguez  014-18-2503  Billy.Rodriguez@buzzkill.com
10    Darrell    Leblanc  005-82-7918  Darrell.Leblanc@buzzkill.com
11      David    Hammond  561-17-6312    David.Hammond@buzzkill.com

In [ ]:
#print(organized_df)

In [10]:
emp_data_df.to_csv("resources/emp_Data.csv", index=False, header=True)